<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166648588926-oio8htp5qqc97kb1uj0gtu5t7lvls3jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166648588926-oio8htp5qqc97kb1uj0gtu5t7lvls3jp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>166648588926-n45dvgdtu800aunnfli7cm32i6uecf8n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB83PUvXIad8n9LSGdyz42vtlcBR1WVigg</string>
	<key>GCM_SENDER_ID</key>
	<string>166648588926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amethyst.amethystApp</string>
	<key>PROJECT_ID</key>
	<string>amethyst-d24a3</string>
	<key>STORAGE_BUCKET</key>
	<string>amethyst-d24a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166648588926:ios:d36bcd5958d763d4f2862f</string>
	<key>DATABASE_URL</key>
	<string>https://amethyst-d24a3.firebaseio.com</string>
</dict>
</plist>